<!doctype html>
<html>
    <head>
        <title>Products list</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    </head>
    <body>
        <% include intern_menu.ejs %>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>A Vendre</h1>
                 
                    
                            <% for(var i=0; i<products.length; i++) { %>
                            <% if (products[i].toSell) {%>
                            <div class="well">
                                <%= products[i].title %><br>
                                <%= products[i].description %><br>
                                <form method="POST", action="/sendMail">
                                <textarea name="message"></textarea>
                                <input type='hidden' name="ownerId" value="<%= products[i].userId %>">
                                <button id="<%= products[i].userId %>">Send Email</button>
                            </form>
                            </div>
                            <% } %>
                            <% } %>
                        

                </div>
                <div class="col-sm-6">
                    <h1>A Acheter</h1>
                     <% for(var i=0; i<products.length; i++) { %>
                     <% if (products[i].toSell == false) { %>
                    <div class="well">

                        <%= products[i].title %>
                        <%= products[i].description %>
       
                    </div>
                    <% } %>
                    <% } %>
                    
                   
                </div>
        </div>

    </div>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
     <script type="text/javascript">
        $('.showEmail').click(function(e){
            $.ajax({
                url: 'showEmail',
                method: 'GET',
                dataType: 'JSON',
                data: {'ownerId' : this.id}, 
                success : function(data){ // code_html contient le HTML renvoyé
                    $("#mail"+data.id).text(data.email);
                },
                error : function(resultat, statut, erreur){
                    console.log("error");
                },
            });
        })
     </script>
    </body>
</html>